<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ps.ns.just_click_and_eat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".utils.JustClickApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="ps.ns.just_click_and_eat.feature.notification.view.NotificationActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.myLocation.view.MyLocationActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.myOrder.view.MyOrderActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.myCart.view.MyCartActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.myAccount.view.MyAccountActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.order.view.OrderActivity"
            android:theme="@style/statusBarLight" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.mealsDetails.view.MealsDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.addLocation.view.AddLocationActivity"
            android:theme="@style/statusBarLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.editPassword.view.EditPasswordActivity"
            android:theme="@style/statusBarLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.editAccount.view.EditAccountActivity"
            android:theme="@style/statusBarLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.menu.view.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/statusBarLight" />
        <activity android:name="ps.ns.just_click_and_eat.feature.resturentDetails.view.RestaurantDetailsActivity" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.favorites.Favorites"
            android:label="@string/title_activity_favorites"
            android:theme="@style/statusBarLight" />

        <activity android:name="ps.ns.just_click_and_eat.feature.verfication.view.VerificationActivity" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.forgetPassword.view.ForgetPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="ps.ns.just_click_and_eat.feature.signUp.view.SignUpActivity" />
        <activity android:name="ps.ns.just_click_and_eat.feature.login.view.LoginActivity" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.introApp.view.IntroAppActivity"
            android:theme="@style/statusBarLight" />
        <activity android:name="ps.ns.just_click_and_eat.feature.mainHome.view.MainActivity" />
        <activity
            android:name="ps.ns.just_click_and_eat.feature.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

    </application>

</manifest>