<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ps.ns.eatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.NotificationActivity"></activity>
        <activity android:name=".ui.MyLocationActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.MyCartActivity" />
        <activity android:name=".ui.MyAccountActivity" />
        <activity android:name=".ui.OrderActivity" />
        <activity
            android:name=".ui.MealsDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AddLocationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.EditPassword.view.EditPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.editAccount.view.EditAccountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.ResturentDetailsActivity" />
        <activity
            android:name=".ui.Favorites.Favorites"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".feature.verfication.view.VerificationActivity" />
        <activity
            android:name=".feature.forgetPassword.view.ForgetPasswordActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".feature.signUp.view.SignUpActivity" />
        <activity android:name=".feature.login.view.LoginActivity" />
        <activity android:name=".feature.introApp.IntroAppActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".feature.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>